body {
  max-width: 600px;
  margin: 0 10px;
  padding: 0;
  text-align: left;
  font-size: 22px;
  color: #fff;
  background-color: #000000;
  font-family: PixelMplus10;
}

h1 {
  margin: 10px 0;
  text-align: center;
}

p {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 0 20px;
}

.HP_gage {
  display: table; /* 定義 */
  list-style: none;
  width: max-content;
  margin: 0;
  padding: 0;
  background-color: yellow;
  border: 1px solid white;
}

.HP_block {
  display: table-cell; /* 定義 */
  width: max-content;
  color: yellow;
}

.player_com_window {
  display: flex;
  justify-content: space-between;
}

.player_window {
  border: 1px solid #fff;
  padding: 10px;
  width: max-content;
}

.move_list {
  list-style: none;
  width: max-content;
  margin: 0;
  padding: 0;
}
.move {
  cursor: pointer;
  width: max-content;
}
.move:hover {
  background: #fff;
  color: #000000;
}

.com_window {
  border: 1px solid #fff;
  padding: 10px;
  width: max-content;
}

#com_hand {
  padding: 18px, 0;
}

#message_window {
  cursor: pointer;
  border: 1px solid #fff;
  margin: 0 0 20px;
  padding: 10px;
}

#message_window:hover {
  background: white;
  color: #000000;
}
